<article class="container-fluid" >
  <section class="row container-fluid">
    <section class="col-md-4  col-xs-12">
      <figure>
        <img src="images/delantal1.png" class="img-circle imagenes-disenio" alt="Modelo 1">
        <figcaption>
          <ul>Modelo A
            <li>Correas cruzadas</li>
            <li>Gabardina Negra</li>
            <li>Pespuntes a contracolor</li>
          </ul>
        </figcaption>
      </figure>
    </section>
    <section class="col-md-4  col-xs-12">
      <figure>
        <img src="images/delantal1.png" class="img-circle imagenes-disenio" alt="Modelo 2">
        <figcaption>
          <ul>Modelo B
            <li>Gabardina Negra</li>
            <li>Ribeteado con Simil Cuero</li>
            <li>Correas cruzadas de cuero y gabardina</li>
          </ul>
        </figcaption>
      </figure>
    </section>
    <section class="col-md-4  col-xs-12">
      <figure>
        <img src="images/delantal1.png" class="img-circle imagenes-disenio" alt="Modelo 4">
        <figcaption>
          <ul>Modelo D
            <li>Gabardina marron oscuro</li>
            <li>Ribete de Simil cuero</li>
            <li>Correa cuero superior, desmontable</li>
          </ul>
        </figcaption>
      </figure>
    </section>
  <section class="row">
    <section class="col-md-4  col-xs-12">
      <figure>
        <img src="images/delantal1.png" class="img-circle imagenes-disenio" alt="Modelo 5">
        <figcaption>
          <ul>Modelo E
            <li>Jean negro</li>
            <li>Ribeteado correa cuero superior</li>
            <li>Correas regulables y desmontables</li>
          </ul>
        </figcaption>
      </figure>
    </section>
    <section class="col-md-4  col-xs-12">
      <figure>
        <img src="images/delantal1.png" class="img-circle imagenes-disenio" alt="Modelo 9">
        <figcaption>
          <ul>Modelo I
            <li>Denim con correa simil cuero</li>
            <li>Últimos en stock!!</li>
          </ul>
        </figcaption>
      </figure>
    </section>
    <section class="col-md-4  col-xs-12">
      <figure>
        <img src="images/delantal1.png" class="img-circle imagenes-disenio" alt="Modelo 10">
        <figcaption>
          <ul>Modelo J
            <li>Gabardina color crema</li>
            <li>Parches bordados</li>
            <li>Cómoda correa de tela</li>
          </ul>
        </figcaption>
      </figure>
    </section>
  </section>
</section>
<h1 class="titulo-tabla">Tabla de Talles y Medidas</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Medidas</th>
      <th>S</th>
      <th>M</th>
      <th>L</th>
      <th>XL</th>
  </tr>
</thead>
<tbody  id="js-tabla">
  {{#each model.information as |data|}}
     <tr>
      <td>{{data.thing.Medidas}}</td>
      <td>{{data.thing.Talle_S}}</td>
      <td>{{data.thing.Talle_M}}</td>
      <td>{{data.thing.Talle_L}}</td>
      <td>{{data.thing.Talle_XL}}</td>
      <td><button type="button" {{action "revealEdit" data}} class="btn btn-default btn-lg"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button></td>
      <td><button type="button" {{action "delete" data._id}} class="btn btn-default btn-lg"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
     </tr>
  {{/each}}
</tbody>
</table>
{{#if edit}}
  <form>
    <div class="form-group">
      <label>Medida</label>
      {{input value=fila.thing.Medidas type='text' placeholder="Nueva Medida" class="form-control" required="true"}}
    </div>
    <div class="form-group">
      <label >Talle S</label>
      {{input value=fila.thing.Talle_S type='text' placeholder="Nueva Medida S" class="form-control" required="true"}}
    </div>
    <div class="form-group">
      <label >Talle M</label>
      {{input value=fila.thing.Talle_M type='text' placeholder="Nueva Medida M" class="form-control" required="true"}}
    </div>
    <div class="form-group">
      <label >Talle L</label>
      {{input value=fila.thing.Talle_L type='text' placeholder="Nueva Medida L" class="form-control" required="true"}}
    </div>
    <div class="form-group">
      <label >Talle XL</label>
      {{input value=fila.thing.Talle_XL type='text' placeholder="Nueva Medida XL" class="form-control" required="true"}}
    </div>
    <button type="submit" {{action "update" }}>Editar</button>
  </form>
{{/if}}
<form>
  <div class="form-group">
    <label>Medida</label>
    {{input value=medidas type='text' class="datos-tabla" placeholder="Contorno a medir"}}
  </div>
  <div class="form-group">
    <label >Talle S</label>
    {{input value=talleS type='text' class="datos-tabla" placeholder="Medida S"}}
  </div>
  <div class="form-group">
    <label >Talle M</label>
    {{input value=talleM type='text' class="datos-tabla" placeholder="Medida M"}}
  </div>
  <div class="form-group">
    <label >Talle L</label>
    {{input value=talleL type='text' class="datos-tabla" placeholder="Medida L"}}
  </div>
  <div class="form-group">
    <label >Talle XL</label>
    {{input value=talleXL type='text' class="datos-tabla" placeholder="Medida XL"}}
  </div>
  <button type="submit" {{action "create" medidas talleS talleM talleL talleXL}}>Crear</button>
</form>
</article>
